@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background: black url(pacote-d013/imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(pacote-d013/imagens/frame-iphone.png) center center no-repeat;
    background-size: cover;
    height: 600px;
    width: 300px;
}

iframe#tela {
    position: relative;
    top: 74.5px;
    left: 20.5px;
    height: 455.5px;
    width: 260px;
}

ul {
    display: block;
    float: right;
    list-style-type: none;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

#menu img {
    border-radius: 100px;
    width: 60px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px 0px black;
    box-sizing: border-box;
}

#menu img:hover {
    box-shadow: 5px 2px 5px rgb(0, 0, 0);
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: transform .10s, border .2s;
}